<%- include("../partials/header.ejs") %>
<body>
	<%- include("../partials/navbar.ejs") %>

	<h1>Edit a ToDo Item</h1>
	<form action="/items/<%=item._id%>?_method=PUT" method="POST">
		<label for="name">Edit Item</label>
		<input
			type="text"
			name="name"
			placeholder="Enter To-do Item"
			value="<%=item.name %>"
		/>
		<select name="project" id="project">
			<% for (project of projects){ %> <% if(project.user == currentUser.id){ %>
			<% if (item.project.name == project.name){ %>
			<option value="<%= project.id%>" selected><%= project.name%></option>
			<% } else{%>
			<option value="<%= project.id%>"><%= project.name%></option>
			<% } %> <% } %> <% } %>
		</select>
		<button>Enter</button>
	</form>
	<div><a href="/items">Back to All Items</a></div>
</body>
