<%- include("../partials/header.ejs") %> 
	<body>
		<%- include("../partials/navbar.ejs") %>
		
		<%- include("../partials/flash.ejs") %>


		<h1>Add a ToDo Item</h1>
		<form action="/items" method="POST">
			<div>
			<label for="name">New Item</label>
			<input required type="text" name="name" placeholder="Enter To-do Item" />
		</div>	
		<div>
			<label for="project">Project</label>
			<select name="project" id="project">
				<% for (project of projects){ %> 
					<% if (project.user == currentUser.id){ %>
						<% if(project.name == currentProject){ %>
							<option value="<%= project.id%>" selected><%= project.name%></option>
						<% } else{%>
							<option value="<%= project.id%>"><%= project.name%></option>
						<% } %> 
						<% } %> 
				<% } %> 
			</select>	
		</div>	
			<button>Enter</button>
		</form>
		<div><a href="/items">Back to All Items</a></div>

	</body>
</html>
