<%- include("../partials/header.ejs") %> 
	<body>
		<h1><%= item.name %></h1>
		<h2><% if (project) { %> 
			Project: <%=project.name%>
			<% } %> 
		</h2>

		<a href="/items">All Items</a>
		<a href="/items/<%= item.id %>/edit">Edit Item</a>
		<form action="/items/<%= item.id %>?_method=DELETE" method="POST">
			<button>Delete</button>
		</form>

	</body>
</html>
