<%- include("../partials/header.ejs") %> 
	<body>
		<%- include("../partials/navbar.ejs") %>
		
		<%- include("../partials/flash.ejs") %>


		<h1><%= project.name %></h1> 
		<% if(items && items.length > 0){ %>
		<p id="markAll" data-id="<%=project.id %>">Mark All Items Complete</p>
		<% } %>


        <ul class = "uncompleted">
			<% for (let item of items) {%>
				<% if(item.complete == false){ %>
			<li><a href="/items/<%= item.id %>"><%= item.name %></a> <span class ="item" data-id="<%=item.id %>">&#9744;</span></li>
			<% } %>
			<% } %>
		</ul>

		<h2>Completed</h2>
		<ul class="complete">
			<% for (let item of items) {%>
				<% if(item.complete == true){ %>
				<li><a class = "completed" href="/items/<%= item.id %>"><%= item.name %></a> <span class= "item" data-id="<%=item.id %>">&#10003;</span></li>
				<% } %>
				<% } %>
		</ul>

		<div><a href="/items/new?returnTo=/projects/<%= project.id %>&currentProject=<%= project.name%>">Add Item</a></div>
		<a href="/projects">All Projects</a>
		<% if (!(project.name == "Inbox")){ %>
		<a href="/projects/<%= project.id %>/edit">Edit Project</a>
 
		<form action="/projects/<%= project.id %>?_method=DELETE" method="POST">
			<button>Delete</button>
		</form>
		<% } %>
		
		
		<script src="/js/app.js"></script>
	</body>
</html>
